/* Global CSS for the entire application */
:root {
    --primary-color: #3498db; 
    --primary-dark: #2980b9;
    --text-color: #2c3e50;
    --error-color: #ff4444;
    --background-light: #f8f9fa;
    --border-color: #bdc3c7;
}

body {
    font-family: 'Poppins', sans-serif; /* Font family for the entire application */
    font-size: 1.1rem; /* Base font size */
    line-height: 1.6; /* Line gap*/
    margin: 2rem auto; /* Center the body */
    padding: 0 2rem; /* Padding for the body */
    color: var(--text-color);
    background-color: mintcream;
}

h1 {
    text-align: center; /* Center the heading*/
    font-weight: 300; /* Font weight for the heading */
    font-size: 2.5rem; 
    margin: 2rem 0; /* Margin for the heading */
    color: var(--text-color);
}

h2 {
    font-weight: 500; /* Font weight for subheadings */
    font-size: 2rem;
    margin: 0;
    flex-grow: 1; /* Allow to grow in flex container */
}

.hidden {
    display: none; /* Hide elements*/
}

.free-tag {
    color: #000000; /* Black color for free tag */
    font-size: 0.9em; /* Font size for free tag */
    font-weight: 500; /* Font weight for free tag */
    padding: 0.2rem 0.8rem;
    border-radius: 4px; /* Rounded corners */
    background: rgba(46, 204, 113, 0.1);
}

.purchase-tag {
    color: white;
    font-size: 0.9em; /* Font size for purchase tag */
    font-weight: 500;
    padding: 0.2rem 0.8rem; /* Padding for purchase tag */
    border-radius: 4px;
    background: #008000;
}

.close-btn {
    position: absolute; /* Absolute positioning for close button */
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer; /* Pointer for close button */
    color: #7f8c8d;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.close-btn:hover {
    color: #2c3e50;
}